:root {
  --primary: #1e90ff;
  --secondary: #333; 
  --background: #040202;
}

.App {
  background: var(--background);
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  padding:20px;
}

.App {
  background: url('https://images.pexels.com/photos/1269777/pexels-photo-1269777.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

table {
  width: 100%;
  border: 2px solid black;
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid black;
  padding: 5px 10px;
}

table th {
  background: #333;
}

table td {
  text-align: center;
}

body {
  color: black;
} 

.App-header {
  background: transparent;
  box-shadow: none; 
  border: 2px solid black;
  padding: 10px; 
}

h1 {
  color: black;
}

.App-header h1 {
  margin: 0;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading p {
  font-size: 24px;
  margin-bottom: 10px;
}